In [ ]:
import pandas as pd
import sklearn
import psycopg2 as pg
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC


engine = pg.connect("dbname='ML' user='postgres' host='127.0.0.1' port='5432' password='0000'")
df = pd.read_sql('SELECT * FROM public."Iris_API_iris_model"', con=engine)
df

,id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [33]:
X = df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
y = df['Species']

# Create training and testing vars, It’s usually around 80/20 or 70/30.
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.20, random_state=1)

# Now we’ll fit the model on the training data
model = KNeighborsClassifier(n_neighbors=1)
model.fit(X_train, Y_train)

# Make predictions on validation dataset
predictions = model.predict(X_test)


# Pickle model 
pd.to_pickle(model,r'/home/ibrahim/Desktop/projects/Graduation-Project-Tasks/Web API  tasks/Ml_API/new_model.pickle')

# Unpickle model 
model = pd.read_pickle(r'/home/ibrahim/Desktop/projects/Graduation-Project-Tasks/Web API  tasks/Ml_API/new_model.pickle') 
# read a pickle pd.read_pickle('model.pkl')

In [37]:
print("Test set score: {:.2f}".format(model.score(X_test, Y_test)))

Test set score: 1.00